@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background-color: #4e4e4e; */
  background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
  /* background: radial-gradient(circle at 10% 20%, rgb(20, 30, 48) 0%, rgb(28, 46, 66) 90.2%); */
  z-index: -1000;
  
  color: white;
  height: 100vh;
}